.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  gap: 1rem;
}

.footer a {
  color: var(--text-muted);
  text-decoration: none;
}

.footer a:hover{
  text-decoration: underline;
}